.card-create-user {
  width: 100%;
}

.mat-form-field {
  width: 50%;
  padding: 0 10px;
}

.mat-card-actions {
  text-align: center;
}

.boton {
  width: 150px;
  background: #8c5042;
  color: white;
}
